@charset "UTF-8";

html, body{
    margin: 0px;
    min-height: 100vh;
}

html{
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    font-family: "Source Sans Pro", sans-serif;
    background-color: #2c3e50;
    color:#2c3e50;
}

a{
    color: inherit;
    text-decoration: none !important;
}

a:hover,
a:active{
    color: #bc3838;
}

button:focus {
    outline: 0;
}

img{
    border-style: none;
}

.animation-element{
    opacity: 0;

    -webkit-transition: all .25s linear;
    -moz-transition: all .25s linear;
    -ms-transition: all .25s linear;
    -o-transition: all .25s linear;
    transition: all .25s linear;
}

.animation-element.from-right{
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
}

.animation-element.from-left{
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
}

.animation-element.from-bottom{
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
}

.animation-element.in-view:not(.wait-load){
    opacity: 1;
    -webkit-transform: none;
    transform: none;
}

.padding-navbar{
    padding: 58px;
}

#full-shadow{
    cursor: pointer;
    z-index: 5;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .6);
    opacity: 0;
    visibility: hidden;
    transition: .3s opacity,.3s transform,0s visibility .3s;
}

#full-shadow.shown{
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
    -webkit-transform: none;
    transform: none;
}

.navbar{
    position:fixed;
    left:0;
    right:0;
    color:#fff;
    z-index:99;
    background-color:#2c3e50;
}

.navbar .navbar-brand{
    height:60px;
}

.navbar .navbar-toggler{
    margin-right: 20px;
    width: 28px;
    height: 20px;
    position: relative;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
    z-index: 10;
}

.navbar .navbar-toggler>span{
    display: block;
    position: absolute;
    height: 2px;
    background: #fff;
    transition: .3s ease-in-out;
    border-radius: 2px;

    width: 100%;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    left: 0;
}

.navbar .navbar-toggler>span:nth-child(1){
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 0;
    left: 3px;
    transform-origin: left center;
}

.navbar .navbar-toggler>span:nth-child(2){
    top: 9px;
    width: 0%;
    opacity: 0;
    transform-origin: left center;
}

.navbar .navbar-toggler>span:nth-child(3){
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 18px;
    left: 3px;
    transform-origin: left center;
}

.navbar .navbar-toggler.collapsed>span{
    width: 100%;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    left: 0;
}

.navbar .navbar-nav>.nav-item a.nav-link{
    font-weight: bold;
    margin-right: 20px;
    padding: 5px 0;
    position: relative;
    display: inline-block;
}

.navbar .navbar-nav>.nav-item a.nav-link:first-child{
    margin-right: 50px;
}

.navbar .navbar-nav>.nav-item a.nav-link:before {
    content: '';
    position: absolute;
    left: 0;
    height: 1px;
    bottom: -1px;
    right: 100%;
    background: #fff;
    opacity: 0;
    transition: .3s right,.3s opacity,.3s background;
}

.navbar .navbar-nav>.nav-item.selected a.nav-link,
.navbar .navbar-nav>.nav-item:hover a.nav-link{
    color : #fff;
}

.navbar .navbar-nav>.nav-item.selected a.nav-link:before,
.navbar .navbar-nav>.nav-item:hover a.nav-link:before{
    right: 0;
    opacity: 1;
}

.navbar .navbar-nav>.nav-item.has-children a.nav-link:after {
    content: '';
    display: inline-block;
    width: 11px;
    height: 7px;
    background: url('../imgs/down-arrow-white.svg') no-repeat center center/11px 7px;
    position: relative;
    top: -1px;
    left: 2px;
    transition: .3s transform;
}

.navbar .navbar-nav>.nav-item.has-children.active a.nav-link:after{
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.navbar .navbar-nav>.nav-item a.nav-link>.indicator{
    display: block;
    z-index: 1;
    position: absolute;
    top: calc(100% + 13px);
    left: 50%;
    margin-left: -44px;
    width: 79px;
    height: 15px;
    background: url('../imgs/menu-indicator.png') center center/79px 15px;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
    transition: .3s opacity,.3s transform,0s visibility .3s;
}

.navbar .navbar-nav>.nav-item.active a.nav-link>.indicator{
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
    -webkit-transform: none;
    transform: none;
}

.navbar .navbar-nav>.nav-item>.sub-menu{
    color: #2c3e50;
    position: absolute;
    border-radius:10px;
    top: calc(100% + 7px);
    left: 50px;
    right: 50px;
    background: #fff;
    padding: 45px 0 30px;
    margin: 0;
    visibility: hidden;
    opacity: 0;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
    transition: .3s opacity,.3s transform,.3s padding,.3s margin,.3s max-height,0s visibility .3s;
}

.navbar .navbar-nav>.nav-item.active>.sub-menu{
    opacity: 1;
    visibility: inherit;
    transition-delay: 0s;
    -webkit-transform: none;
    transform: none;
}

#ariane{
    position: fixed;
    top: 76px;
    left: 0;
    right: 0;
    background-color: #34495e;
    color: #fff;
    height: 50px;
    padding: 12px 20px;
    z-index: 4;
}

#ariane>.ariane-bar>.sd-ariane-title{
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
}

#ariane>.ariane-bar>.sd-ariane-title>.sd-icon{
    display: block;
    width: 13px;
    height: 18px;
    background: url('../imgs/down-arrow-white.svg') no-repeat center center/13px 18px;
    margin: 0 10px;
    transition: .3s transform;
}

#ariane>.ariane-bar.active>.sd-ariane-title>.sd-icon{
    transform: rotate(180deg);
}

#ariane>.ariane-bar>ul{
    -webkit-box-shadow:0 0 10px rgba(0, 0, 0, .25);
    box-shadow:0 0 10px rgba(0, 0, 0, .25);
    background-color: #fff;
    color: #2c3e50;

    list-style-type: none;

    padding: 0;
    position: absolute;
    top: calc(100% - 10px);
    left: 15px;
    visibility: hidden;
    opacity: 0;
    transform: translateY(10px);
    transition: .3s opacity,.3s transform,0s visibility .3s;
}

#ariane>.ariane-bar.active>ul{
    visibility: visible;
    opacity: 1;
    transform: translateY(-1px);
    transition-delay: 0s;
}

#ariane>.ariane-bar>ul>li{
    padding: 15px 25px;
    border-bottom: 1px solid #ddd;
}

#ariane>.ariane-bar>ul>li:hover{
    background-color: #fafafa;
    color: #bc3838;
}

#ariane>.ariane-bar>ul>li:last-child{
    border-bottom: 0px;
}

#slider{
    background-image:url('../imgs/slider-background-repeat.png');
    position: relative;
    min-height: 600px;
    overflow: hidden;
}

#slider>.sd-rubrique{
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0px;
    right: 600px;
    color: #fff;
    font-size: 300%;
    text-align: center;
}

#slider>.sd-rubrique .sd-circle{
    font-size: initial;
    margin: auto;
}

#slider:hover>.sd-rubrique .sd-circle{
    color:#fff;
    background-color:#bc3838;
    -webkit-box-shadow:0 0 20px rgba(0, 0, 0, .1);
    box-shadow:0 0 20px rgba(0, 0, 0, .1);
}

#slider>.sd-rubrique .sd-header{
    display: inline-block;
}

#slider>.sd-rubrique .sd-header>.variable{
    background-color: #fff;
    color: #bc3838;
    padding: 0px 12px;
}

.sd-ciel-inner, .sd-ciel-outer{
    background-size:100%;
    background-repeat:no-repeat;
    padding-bottom: 16.8%;
}
.sd-ciel-inner{
    position: relative;
    z-index: 3;
    background-image:url('../imgs/haut-blanc.png');
    background-position:center top;
}
.sd-ciel-outer{
    position: relative;
    z-index: 3;
    background-image:url('../imgs/bas-blanc.png');
    background-position:center bottom;
}

.sd-section-title{
    margin-bottom:40px;
    font-size:50px;
    color:#bc3838;
}

.sprite{
    position: absolute;
    width: 100%;
    height: 200px;
    overflow: hidden;
    margin-top: -15px;
    -webkit-transform-origin: 0;
    transform-origin: 0;
    -webkit-transform: skewY(-5deg);
    transform: skewY(-5deg);
}

.sprite.shadow{
    -webkit-box-shadow:0 0 20px rgba(0, 0, 0, .1);
    box-shadow:0 0 20px rgba(0, 0, 0, .1);
}

.sprite.shadow-top{
    -webkit-box-shadow:0 -20px 20px -20px rgba(0, 0, 0, .1);
    box-shadow:0 -20px 20px -20px rgba(0, 0, 0, .1);
}

.sprite.bg-gray{
    background: linear-gradient(#fff, #ecf0f1);
}

.sprite.large{
    height: 400px;
}

.sprite.xlarge{
    height: 500px;
}

.sprite.reverse{
    -webkit-transform: skewY(5deg);
    transform: skewY(5deg);
}

#presentation>.sprite{
    margin-top: -175px;
}

#presentation>.sd-rubrique>.sd-incline{
    transform: rotate(5deg);
    padding: 0 0 75px 50px;
}

#presentation>.sd-rubrique p{
    text-align: justify;
    text-justify: auto;
}

.dev-plugin{
    width: 50px;
    display: inline-block;
    border-radius: 110px;
    background-color: #fff;
    -ms-flex-align: center;
    align-items: center;
    padding: 5px;
    overflow: hidden;
    margin-right: 10px;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .05);
    box-shadow: 0 0 5px rgba(0, 0, 0, .05);
}

.dev-plugin.float-left{
    margin-left: -21px;
}

.dev-plugin.float-right{
    margin-right: -21px;
}

.dev-plugin.big-circle{
    width: 80px;
}

.dev-plugin.more-padding{
    padding: 10px;
}

.dev-plugin.big-circle.more-padding{
    padding: 17px;
}

.dev-plugin > img{
    display: block;
    width: 100%;
    height: auto;
}

#computer_animation_container{
    float: right;
    margin-top: -500px;
    width:800px;
    height:600px;
}

#computer_canvas{
    position: absolute;
    display: block;
    width:800px;
    height:600px;
}

#computer_dom_overlay_container{
    pointer-events:none;
    overflow:hidden;
    width:800px;
    height:600px;
    position: absolute;
    left: 0px;
    top: 0px;
    display: block;
}

#smartphone_animation_container{
    position: relative;
    float:left;
    margin-top: -125px;
    width:500px;
    height:768px;
    z-index: 4;
}

#smartphone_canvas{
    position: absolute;
    display: block;
    width:500px;
    height:768px;
}

#smartphone_dom_overlay_container{
    pointer-events:none;
    overflow:hidden;
    width:500px;
    height:768px;
    position: absolute;
    left: 0px;
    top: 0px;
    display: block;
}

.l-home-plugins{
    margin:25px auto;
}
.l-home-plugins__sprite{
    position:absolute;
    width:100%;
    height:400px;
    overflow:hidden;
    margin-top:125px;
    -webkit-transform:skewY(5deg);
    transform:skewY(5deg);
    background-color:#fff;
    -webkit-box-shadow:0 0 20px rgba(0, 0, 0, .1);
    box-shadow:0 0 20px rgba(0, 0, 0, .1);
}

.l-home-plugins__outer{
    max-width:1440px;
    margin:auto;
    position:relative;
    padding:250px 0;
}

.l-home-plugins__inner{width:90%;max-width:1240px;text-align:center;margin:auto}
.l-home-plugins__link{margin-top:40px}
.l-home-plugins__blocks-col{width:20%;position:absolute;top:0;bottom:0;pointer-events:none}
.l-home-plugins__blocks-col--1{left:0}
.l-home-plugins__blocks-col--2{left:20%}
.l-home-plugins__blocks-col--3{left:40%}
.l-home-plugins__blocks-col--4{left:60%}
.l-home-plugins__blocks-col--5{left:80%}
.l-home-plugins__block{transition:transform 1.3s cubic-bezier(.19,1,.22,1)}

.l-home-plugins__block1{position:absolute;text-align:center;width:100%;top:25%}
.l-home-plugins__block3{position:absolute;text-align:center;width:100%;top:0%}
.l-home-plugins__block5{position:absolute;text-align:center;width:100%;top:10%}
.l-home-plugins__block7{position:absolute;text-align:center;width:100%;top:-5%}
.l-home-plugins__block9{position:absolute;text-align:center;width:100%;top:5%}

.l-home-plugins__block2{position:absolute;text-align:center;width:100%;bottom:15%}
.l-home-plugins__block4{position:absolute;text-align:center;width:100%;bottom:-5%}
.l-home-plugins__block6{position:absolute;text-align:center;width:100%;bottom:5%}
.l-home-plugins__block8{position:absolute;text-align:center;width:100%;bottom:0%}
.l-home-plugins__block10{position:absolute;text-align:center;width:100%;bottom:25%}

.plugin-block{
    position:relative;
    transition:opacity 1s cubic-bezier(.19,1,.22,1),transform 1s cubic-bezier(.19,1,.22,1);
    will-change:transform;
    transform:translateZ(0);
    max-width:110px;
    display:inline-block;
    width:100%;
}
.plugin-block:before{
    display:block;
    content:"";
    width:100%;
    padding-top:100%;
}
@media (min-width:80.0625em){
    .plugin-block{
        max-width:140px;
    }
}

.plugin-block__shadow{
    opacity:1;
    -webkit-box-shadow:0 0 40px rgba(0, 0, 0, .25);
    box-shadow:0 0 40px rgba(0, 0, 0, .25);
    z-index:0;
    position:absolute;
    top:20px;
    left:20px;
    right:20px;
    bottom:0;
    border-radius:110px;
    transform:translateZ(0);
}

.plugin-block__inner{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    border-radius:110px;
    background-color:#fff;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-align:center;
    align-items:center;
    padding:10px;
    overflow:hidden;
}

.l-home-plugins__block1 .plugin-block__inner, .l-home-plugins__block2 .plugin-block__inner{
    padding:25px;
}

.plugin-block__inner > img{
    display:block;
    width:100%;
    height:auto;
}

.l-home-plugins__heading.sd-incline{
    transform: rotate(5deg);
}

#realisations>.sd-rubrique{
    position: relative;
    z-index: 3;
}

.sd-section{
    margin:0;
    padding:0 15px;
}

.navbar>.navbar-nav>.nav-item>.sub-menu>.sd-section{
    cursor: pointer;
}

.sd-section .content{
    margin: 15px 0;
    padding: 15px;
    background:url('../imgs/block-background-repeat.png') no-repeat bottom right;
    background-color: #fafafa;
    border-radius: 10px;
    min-height: 200px;
    height: calc(100% - 30px);

    -webkit-transition: all .25s linear;
    -moz-transition: all .25s linear;
    -ms-transition: all .25s linear;
    -o-transition: all .25s linear;
    transition: all .25s linear;
}

.sd-section .content:hover{
    background-color: #fefefe;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
}

.sd-title{
    padding: 30px 15px 15px 15px;
}

.sd-title>h5{
    color:#2c3e50;
    border-bottom:1px solid #ccc;
    padding-bottom:10px;
    margin-bottom:45px;

    -webkit-transition: all .25s linear;
    -moz-transition: all .25s linear;
    -ms-transition: all .25s linear;
    -o-transition: all .25s linear;
    transition: all .25s linear;
}

.sd-section .content:hover .sd-title>h5{
    color:#bc3838;
    border-bottom:1px solid #bc3838;
}

.sd-circle{
    color:#2c3e50;
    -webkit-box-shadow:0 0 10px rgba(0, 0, 0, .05);
    box-shadow:0 0 10px rgba(0, 0, 0, .05);
    position:relative;
    background-color:#fff;
    border-radius:100px;
    height:80px;
    width:80px;

    -webkit-transition: all .25s linear;
    -moz-transition: all .25s linear;
    -ms-transition: all .25s linear;
    -o-transition: all .25s linear;
    transition: all .25s linear;
}

.sd-section .content:hover .sd-circle{
    color:#fff;
    background-color:#bc3838;
    -webkit-box-shadow:0 0 20px rgba(0, 0, 0, .1);
    box-shadow:0 0 20px rgba(0, 0, 0, .1);
}

.sd-circle>svg{
    position:absolute;
    top:50%;
    left:50%;
    right:50%;
    bottom:50%;
    transform:translate(-50%, -50%);
}


.sd-button {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    white-space: nowrap;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 14px;
    -webkit-box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    background: #fff;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .025em;
    color: #6772e5;
    -webkit-transition: all .15s ease;
    transition: all .15s ease;
}
.sd-button:focus{
    outline:none;
    -webkit-box-shadow:0 0 0 1.5px hsla(0,0%,100%,.75),0 0 0 1.25px rgba(82,95,127,.5) inset,0 13px 27px -5px rgba(50,50,93,.25),0 8px 16px -8px rgba(0,0,0,.3),0 -6px 16px -6px rgba(0,0,0,.025);
    box-shadow:0 0 0 1.5px hsla(0,0%,100%,.75),inset 0 0 0 1.25px rgba(82,95,127,.5),0 13px 27px -5px rgba(50,50,93,.25),0 8px 16px -8px rgba(0,0,0,.3),0 -6px 16px -6px rgba(0,0,0,.025);
}

.sd-button:focus,.sd-button:hover{
    color:#7795f8;
    -webkit-transform:translateY(-1px);
    transform:translateY(-1px);
    -webkit-box-shadow:0 13px 27px -5px rgba(50,50,93,.25),0 8px 16px -8px rgba(0,0,0,.3),0 -6px 16px -6px rgba(0,0,0,.025);
    box-shadow:0 13px 27px -5px rgba(50,50,93,.25),0 8px 16px -8px rgba(0,0,0,.3),0 -6px 16px -6px rgba(0,0,0,.025);
    -webkit-box-shadow:0 7px 14px rgba(50,50,93,.1),0 3px 6px rgba(0,0,0,.08);
    box-shadow:0 7px 14px rgba(50,50,93,.1),0 3px 6px rgba(0,0,0,.08)
}

.sd-button:active{
    color:#555abf;
    background-color:#f6f9fc;
    -webkit-transform:translateY(1px);
    transform:translateY(1px);
    -webkit-box-shadow:0 6px 12px -2px rgba(50,50,93,.25),0 3px 7px -3px rgba(0,0,0,.3);
    box-shadow:0 6px 12px -2px rgba(50,50,93,.25),0 3px 7px -3px rgba(0,0,0,.3)
}

.sd-button-default{
    color:#2c3e50;
    background-color:#fcf9f9;
}

.sd-button-default:focus,
.sd-button-default:hover,
.sd-button-default:active{
    color:#bc3838;
    background-color:#fff;
}

.sd-button-disabled{
    color:#fff;
    background:#aab7c4;
    pointer-events:none;
}

.sd-button>svg.fa-1-5x{
    margin-bottom:-3px;
    margin-right:8px;
}

.sd-section .content:not(:hover) .sd-button-default{
    background-color:#fff;
}

.sd-section .content:not(:hover) .sd-button-default:focus,
.sd-section .content:not(:hover) .sd-button-default:hover,
.sd-section .content:not(:hover) .sd-button-default:active{
    background-color:#fcf9f9;
}

.fa-1-5x{
    font-size: 1.5em;
}

.fa-2-5x{
    font-size: 2.5em;
}

.bg-gray{
    background-color: #ecf0f1;
}

.bg-flat{
    background-color: #34495e;
}

.gray-border-bottom{
    border-bottom: 1px solid #ccc;
}

@media (max-width: 1199.98px) {
    #slider>.sd-rubrique{
        right: 500px;
    }

    #smartphone_animation_container{
        margin-top: -75px;
    }

    #presentation>.sprite{
        margin-top: -125px;
    }
}

@media (max-width: 991.98px) {
    #slider>.sd-rubrique{
        top: 90px;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        right: 0px;
    }

    #slider>.sd-rubrique>.sd-circle{
        display: inline-block;
        margin-right: 20px;
    }

    #computer_animation_container{
        margin-top: -425px;
        -webkit-transform: scale(0.75) translateX(125px);
        transform: scale(0.75) translateX(125px);
    }

    #smartphone_animation_container{
        -webkit-transform: scale(0.75) translateX(-100px) translateY(-154px);
        transform: scale(0.75) translateX(-100px) translateY(-154px);
        margin-top: -75px;
        margin-bottom: -154px;
        float: none;
        margin: auto;
    }

    #presentation>.sprite{
        margin-top: -150px;
    }


    #presentation>.sd-rubrique>.sd-incline{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        padding: 0 25px 75px 25px;
        margin-top: -250px;
    }
}

@media (max-width: 767.98px) {
    .navbar .navbar-collapse.show{
        height: calc(100vh - 60px);
        overflow-y: auto;
    }

    .navbar .navbar-nav>.nav-item a.nav-link{
        margin: 5px 10px;
    }

    .navbar .navbar-nav>.nav-item a.nav-link>.indicator{
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
        transition: 0s opacity,0s transform,0s visibility;
    }

    .navbar .navbar-nav>.nav-item.active a.nav-link>.indicator{
        transition: .3s opacity .3s,.3s transform .3s,0s visibility .3s;
    }

    .navbar .navbar-nav>.nav-item>.sub-menu{
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        margin-top: 0;
        padding: 0;
        max-height: 0;
        overflow: hidden;
    }

    .navbar .navbar-nav>.nav-item.active>.sub-menu{
        max-height: 2e3px;
        overflow: visible;
        padding: 30px 0;
        margin-top: 23px;
    }

    #smartphone_animation_container{
        margin-top: -100px;
    }

    #presentation>.sprite{
        margin-top: -175px;
    }
}

@media (max-width: 575.98px) {
    #slider{
        min-height: 500px;
    }

    #slider>.sd-rubrique{
        top: 80px;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        right: 0px;
        font-size: 250%;
    }

    #slider>.sd-rubrique>.sd-circle{
        display: block;
        margin: auto;
    }

    #computer_animation_container{
        margin-top: -350px;
        -webkit-transform: scale(0.5) translateX(400px);
        transform: scale(0.5) translateX(400px);
    }

    #smartphone_animation_container{
        -webkit-transform: scale(0.5) translateX(-250px) translateY(-384px);
        transform: scale(0.5) translateX(-250px) translateY(-384px);
        margin-top: -150px;
        margin-bottom: -384px;
    }

    #presentation>.sprite{
        margin-top: -200px;
    }
}