@charset "UTF-8";

*, *:before, *:after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

#cursus > .sprite {
    margin-top: -10%;
}

#timeline {
    width: 100%;
    margin: 30px auto;
    position: relative;
    padding: 0 10px;
    transition: all .4s ease;
}

#timeline:before {
    content:"";
    width: 3px;
    height: 100%;
    background: #bc3838;
    left: 50%;
    top: 0;
    position: absolute;
}

#timeline::after {
    content: "";
    clear: both;
    display: table;
    width: 100%;
}

#timeline > .timeline-item {
    position: relative;
    margin-bottom: 50px;
}

#timeline > .timeline-item > .timeline-title > .sd-section-title{
    display: inline-block;
    width: 45%;
}

#timeline > .timeline-item > .timeline-title > .sd-section-title.right {
    display: inline-block;
    float: right;
}

#timeline > .timeline-item > .timeline-icon {
    background: #bc3838;
    color: #fff;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0;
    left: 50%;
    overflow: hidden;
    margin-left: -28px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

#timeline > .timeline-item.timeline-small > .timeline-icon {
    width: 20px;
    height: 20px;
    margin-left: -8.5px;
}

#timeline > .timeline-item > .timeline-icon > .timeline-date {
    position: relative;
    text-align: center;
    top: 16px;
    font-weight: 700;
    line-height: 25px;
}

#timeline > .timeline-item > .timeline-icon > .timeline-date > .timeline-date-top {
    margin-top: -12px;
    border-bottom: 3px solid #fff;
}

#timeline > .timeline-item > .timeline-icon > svg {
    position: relative;
    top: 8px;
    left: 8px;
}

#timeline > .timeline-item > .timeline-content {
    position: relative;
    float: left;
    width: 45%;
    padding: 15px;
    background:url('../imgs/block-background-repeat.png') no-repeat bottom right;
    background-color: #fafafa;
    border-radius: 10px;
    border-right: 4px solid #bc3838;

    -webkit-transition: all .25s linear;
    -moz-transition: all .25s linear;
    -ms-transition: all .25s linear;
    -o-transition: all .25s linear;
    transition: all .25s linear;
}

#timeline > .timeline-item > .timeline-content:hover {
    background-color: #fefefe;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
}

#timeline > .timeline-item > .timeline-content:before {
    content: '';
    position: absolute;
    left: 100%;
    top: 20px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #bc3838;
}

#timeline > .timeline-item.timeline-small > .timeline-content:before {
    top: 15px;
}

#timeline > .timeline-item > .timeline-content.right {
    float: right;
    border-right: 0;
    border-left: 4px solid #bc3838;
}

#timeline > .timeline-item > .timeline-content.right:before {
    content: '';
    right: 100%;
    left: inherit;
    border-left: 0;
    border-right: 10px solid #bc3838;
}

#timeline > .timeline-item > .timeline-content .sd-title{
    margin-bottom: -25px;
}

#timeline > .timeline-item > .timeline-content .sd-title > .sd-subtitle{
    position: relative;
    top: -42px;
    font-style: italic;
    font-size: 80%;

    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

#timeline > .timeline-item > .timeline-content .sd-title > .sd-subtitle:not(.float-right){
    top: -45px;
    left: 100px;
}

#timeline > .timeline-item > .timeline-content:hover .sd-title > h5{
    color: #bc3838;
    border-bottom: 1px solid #bc3838;
}

#timeline > .timeline-item > .timeline-content > .sd-circle {
    overflow: hidden;
}

#timeline > .timeline-item > .timeline-content:hover .sd-circle{
    color: #fff;
    background-color: #bc3838;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
}

#timeline > .timeline-item > .timeline-content > .sd-circle > svg {
    top: 60%;
}

#skills,
#cursus,
#hobbies{
    position: relative;
    z-index: 3;
}

#skills > .sprite {
    margin-top: -10%;
}

#me > .sd-rubrique,
#cursus > .sd-rubrique,
#skills > .sd-rubrique {
    padding: 1.5rem 1.5rem 175px 1.5rem;
}

#me > .sd-rubrique .row-infos {
    background:url('../imgs/block-background-repeat.png') no-repeat bottom right;
    background-color: #fafafa;
    border-radius: 10px;
    color: #bc3838;
    text-align: center;
}

#me > .sd-rubrique .rounded-animation {
    position: relative;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    background-color: #dbdbdb;
    border: 4px solid #fff;
    border-radius: 50%;
    overflow: hidden;
}

#me > .sd-rubrique .rounded-animation:after {
    padding-top: 100%;
    display: block;
    content: '';
}

#me360_animation_container{
    position: absolute;
    border-radius: 50%;
    overflow: hidden;
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
    width: 100%;
    height: 100%;
}

#me360_canvas{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
}

#me360_dom_overlay_container{
    pointer-events: none;
    overflow: hidden;
    width: 500px;
    height: 500px;
    position: absolute;
    left: 0px;
    top: 0px;
    display: block;
}

.sd-rubrique .rounded-img > img {
    margin: 10px 0;
    border: 4px solid #fff;
    border-radius: 50%;
    max-width: 80%;
    max-height: 350px;
}

.sd-rubrique .rounded-img > .rounded-img-title {
    text-align: center;
    font-size: 120%;
    font-weight: 700;
}

.single-chart {
    justify-content: space-around ;
}

.single-chart > .chart-title {
    text-align: center;
    font-size: 120%;
    font-weight: 700;
}

.single-chart > .circular-chart {
    display: block;
    margin: 10px auto;
    max-width: 80%;
    max-height: 350px;
}

.single-chart > .circular-chart > .circle-bg {
    fill: none;
    stroke: #fff;
    stroke-width: 3.8;
}

.single-chart.in-view > .circular-chart > .circle {
    fill: #fff;
    stroke-width: 2.8;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
    stroke: #bc3838;
}

@keyframes progress {
    0% {
        stroke-dasharray: 0 100;
    }
}

.single-chart > .circular-chart > .percentage {
    fill: #34495e;
    font-family: sans-serif;
    font-size: 0.5em;
    text-anchor: middle;
}

@media (max-width: 991.98px) {
    #timeline > .timeline-item > .timeline-content .sd-title > .sd-subtitle:not(.float-right){
        left: inherit;
    }

    .animation-element.in-view.delay-2,
    .animation-element.in-view.delay-3,
    .animation-element.in-view.delay-4,
    .animation-element.in-view.delay-5,
    .animation-element.in-view.delay-6 {
        transition-delay: 0s;
    }
}

@media (max-width: 767.98px) {
    #me {
        background-position: bottom;
    }

    #me > .sd-rubrique .row-infos {
        text-align: left;
    }

    #timeline {
        margin: 30px;
        padding: 0px;
        width: 90%;
    }

    #timeline:before {
        left: 0;
    }

    #timeline > .timeline-item > .timeline-title > .sd-section-title{
        width: 90%;
        float: right;
    }

    #timeline > .timeline-item > .timeline-content {
        width: 90%;
        float: right;
        border-right: 0;
        border-left: 4px solid #bc3838;
    }

    #timeline > .timeline-item > .timeline-content:not(:last-child) {
        margin-bottom: 50px;
    }

    #timeline > .timeline-item > .timeline-content.animation-element.from-left{
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
    }

    #timeline > .timeline-item > .timeline-content.animation-element.in-view:not(.wait-load){
        -webkit-transform: none;
        transform: none;
    }

    #timeline > .timeline-item > .timeline-content:before {
        right: 100%;
        left: inherit;
        border-left: 0;
        border-right: 10px solid #bc3838;
    }

    #timeline > .timeline-item > .timeline-icon {
        left: 0;
    }

    #timeline > .timeline-item.title > .timeline-icon {
        margin-left: -23px;
    }
}
