@charset "UTF-8";

#slider{
    position: relative;
    min-height: 500px;
    overflow: hidden;
}

#slider>.sd-rubrique{
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0px;
    right: 600px;
    color: #fff;
    font-size: 300%;
    text-align: center;
}

#slider>.sd-rubrique .sd-circle{
    font-size: initial;
    margin: auto;
}

#slider:hover>.sd-rubrique .sd-circle{
    color:#fff;
    background-color:#bc3838;
    -webkit-box-shadow:0 0 20px rgba(0, 0, 0, .1);
    box-shadow:0 0 20px rgba(0, 0, 0, .1);
}

#slider>.sd-rubrique .sd-header{
    display: inline-block;
}

#slider>.sd-rubrique .sd-header>.variable{
    background-color: #fff;
    color: #bc3838;
    padding: 0px 12px;
}

#presentation>.sprite{
    margin-top: -175px;
}

#presentation>.sd-rubrique>.sd-incline{
    transform: rotate(5deg);
    padding: 0 0 75px 50px;
}

#presentation>.sd-rubrique p{
    text-align: justify;
    text-justify: auto;
}

#computer_animation_container{
    float: right;
    margin-top: -500px;
    width:800px;
    height:600px;
}

#computer_canvas{
    position: absolute;
    display: block;
    width:800px;
    height:600px;
}

#computer_dom_overlay_container{
    pointer-events:none;
    overflow:hidden;
    width:800px;
    height:600px;
    position: absolute;
    left: 0px;
    top: 0px;
    display: block;
}

#smartphone_animation_container{
    position: relative;
    float:left;
    margin-top: -125px;
    width:500px;
    height:768px;
    z-index: 4;
}

#smartphone_canvas{
    position: absolute;
    display: block;
    width:500px;
    height:768px;
}

#smartphone_dom_overlay_container{
    pointer-events:none;
    overflow:hidden;
    width:500px;
    height:768px;
    position: absolute;
    left: 0px;
    top: 0px;
    display: block;
}

#presentation.sd-rubrique{
    z-index: initial;
}

@media (max-width: 1199.98px) {
    #slider>.sd-rubrique{
        right: 500px;
    }

    #smartphone_animation_container{
        margin-top: -75px;
    }

    #presentation>.sprite{
        margin-top: -125px;
    }
}

@media (max-width: 991.98px) {
    #slider>.sd-rubrique{
        top: 90px;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        right: 0px;
    }

    #slider>.sd-rubrique>.sd-circle{
        display: inline-block;
        margin-right: 20px;
    }

    #computer_animation_container{
        margin-top: -425px;
        -webkit-transform: scale(0.75) translateX(125px);
        transform: scale(0.75) translateX(125px);
    }

    #smartphone_animation_container{
        -webkit-transform: scale(0.75) translateX(-100px) translateY(-154px);
        transform: scale(0.75) translateX(-100px) translateY(-154px);
        margin-top: -75px;
        margin-bottom: -154px;
        float: none;
        margin: auto;
    }

    #presentation>.sprite{
        margin-top: -150px;
    }


    #presentation>.sd-rubrique>.sd-incline{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        padding: 0 25px 75px 25px;
        margin-top: -250px;
    }
}

@media (max-width: 767.98px) {
    #smartphone_animation_container{
        margin-top: -100px;
    }

    #presentation>.sprite{
        margin-top: -175px;
    }
}

@media (max-width: 575.98px) {
    #slider{
        min-height: 400px;
    }

    #slider>.sd-rubrique{
        top: 80px;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        right: 0px;
        font-size: 250%;
    }

    #slider>.sd-rubrique>.sd-circle{
        display: block;
        margin: auto;
    }

    #computer_animation_container{
        margin-top: -350px;
        -webkit-transform: scale(0.5) translateX(400px);
        transform: scale(0.5) translateX(400px);
    }

    #smartphone_animation_container{
        -webkit-transform: scale(0.5) translateX(-250px) translateY(-384px);
        transform: scale(0.5) translateX(-250px) translateY(-384px);
        margin-top: -150px;
        margin-bottom: -384px;
    }

    #presentation>.sprite{
        margin-top: -200px;
    }
}
