@charset "UTF-8";

#slider {
    position: relative;
    min-height: 500px;
    overflow: hidden;
}

#slider > .sd-rubrique {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0px;
    right: 600px;
    color: #fff;
    font-size: 300%;
    text-align: center;
}

#slider > .sd-rubrique .sd-circle {
    font-size: initial;
    margin: auto;
}

#slider:hover > .sd-rubrique .sd-circle {
    color:#fff;
    background-color:#bc3838;
    -webkit-box-shadow:0 0 20px rgba(0, 0, 0, .1);
    box-shadow:0 0 20px rgba(0, 0, 0, .1);
}

#slider > .sd-rubrique .sd-header {
    display: inline-block;
}

#slider > .sd-rubrique .sd-header > .variable {
    background-color: #fff;
    color: #bc3838;
    padding: 0px 12px;
}

#presentation > .sprite {
    margin-top: -10%;
}

#presentation > .sd-rubrique p {
    text-align: justify;
    text-justify: auto;
}

#computer_animation_handler {
    float: right;
    position: relative;
    width: 60%;
    max-width: 800px;
    max-height: 600px;
    margin-top: -26%;
    overflow: hidden;
}

#computer_animation_handler:after {
    padding-top: 77%;
    display: block;
    content: '';
}

#computer_animation_container {
    position: absolute;
    width: 100%;
    height: 100%;
}

#computer_canvas {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
}

#computer_dom_overlay_container {
    pointer-events:none;
    overflow:hidden;
    width:800px;
    height:600px;
    position: absolute;
    left: 0px;
    top: 0px;
    display: block;
}

#smartphone_animation_handler {
    float: left;
    position: relative;
    width: 33%;
    max-width: 500px;
    max-height: 768px;
    overflow: hidden;
}

#smartphone_animation_handler:after {
    padding-top: 153%;
    display: block;
    content: '';
}

#smartphone_animation_container {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 4;
}

#smartphone_canvas {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
}

#smartphone_dom_overlay_container {
    pointer-events:none;
    overflow:hidden;
    width:500px;
    height:768px;
    position: absolute;
    left: 0px;
    top: 0px;
    display: block;
}

#presentation.sd-rubrique {
    z-index: initial;
}

@media (max-width: 1199.98px) {
    #computer_animation_handler {
        margin-top: -33%;
    }

    #slider > .sd-rubrique {
        right: 500px;
    }
}

@media (max-width: 991.98px) {
    #slider {
        min-height: 700px;
    }

    #slider > .sd-rubrique {
        top: 0px;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        right: 0px;
    }

    #slider > .sd-rubrique > .sd-circle {
        display: inline-block;
        margin-right: 20px;
    }

    #computer_animation_handler {
        margin-top: -50%;
        width: 100%;
    }

    #presentation > .sd-rubrique .responsive-animation {
        width: 40%;
        float: none;
        margin: auto;
    }
}

@media (max-width: 767.98px) {
    #presentation > .sd-rubrique .responsive-animation {
        width: 60%;
    }
}

@media (max-width: 575.98px) {
    #slider{
        min-height: 500px;
    }

    #slider > .sd-rubrique > .sd-circle {
        display: block;
        margin: auto;
    }

    #presentation > .sd-rubrique .responsive-animation {
        width: 90%;
    }
}
