@charset "UTF-8";

#full-shadow{
    cursor: pointer;
    z-index: 5;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .6);
    opacity: 0;
    visibility: hidden;
    transition: .3s opacity,.3s transform,0s visibility .3s;
}

#full-shadow.shown{
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
    -webkit-transform: none;
    transform: none;
}

.navbar{
    position:fixed;
    left:0;
    right:0;
    color:#fff;
    z-index:99;
    background-color:#2c3e50;
}

.navbar .navbar-brand{
    height:60px;
}

.navbar .navbar-toggler{
    margin-right: 20px;
    width: 28px;
    height: 20px;
    position: relative;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
    z-index: 10;
}

.navbar .navbar-toggler>span{
    display: block;
    position: absolute;
    height: 2px;
    background: #fff;
    transition: .3s ease-in-out;
    border-radius: 2px;

    width: 100%;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    left: 0;
}

.navbar .navbar-toggler>span:nth-child(1){
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 0;
    left: 3px;
    transform-origin: left center;
}

.navbar .navbar-toggler>span:nth-child(2){
    top: 9px;
    width: 0%;
    opacity: 0;
    transform-origin: left center;
}

.navbar .navbar-toggler>span:nth-child(3){
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 18px;
    left: 3px;
    transform-origin: left center;
}

.navbar .navbar-toggler.collapsed>span{
    width: 100%;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    left: 0;
}

.navbar .navbar-nav>.nav-item a.nav-link{
    font-weight: bold;
    margin-right: 20px;
    padding: 5px 0;
    position: relative;
    display: inline-block;
}

.navbar .navbar-nav>.nav-item a.nav-link:first-child{
    margin-right: 50px;
}

.navbar .navbar-nav>.nav-item a.nav-link:before {
    content: '';
    position: absolute;
    left: 0;
    height: 1px;
    bottom: -1px;
    right: 100%;
    background: #fff;
    opacity: 0;
    transition: .3s right,.3s opacity,.3s background;
}

.navbar .navbar-nav>.nav-item.selected a.nav-link,
.navbar .navbar-nav>.nav-item:hover a.nav-link{
    color : #fff;
}

.navbar .navbar-nav>.nav-item.selected a.nav-link:before,
.navbar .navbar-nav>.nav-item:hover a.nav-link:before{
    right: 0;
    opacity: 1;
}

.navbar .navbar-nav>.nav-item.has-children a.nav-link:after {
    content: '';
    display: inline-block;
    width: 11px;
    height: 7px;
    background: url('../imgs/down-arrow-white.svg') no-repeat center center/11px 7px;
    position: relative;
    top: -1px;
    left: 2px;
    transition: .3s transform;
}

.navbar .navbar-nav>.nav-item.has-children.active a.nav-link:after{
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.navbar .navbar-nav>.nav-item a.nav-link>.indicator{
    display: block;
    z-index: 1;
    position: absolute;
    top: calc(100% + 13px);
    left: 50%;
    margin-left: -44px;
    width: 79px;
    height: 15px;
    background: url('../imgs/menu-indicator.png') center center/79px 15px;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
    transition: .3s opacity,.3s transform,0s visibility .3s;
}

.navbar .navbar-nav>.nav-item.active a.nav-link>.indicator{
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
    -webkit-transform: none;
    transform: none;
}

.navbar .navbar-nav>.nav-item>.sub-menu{
    color: #2c3e50;
    position: absolute;
    border-radius:10px;
    top: calc(100% + 7px);
    left: 50px;
    right: 50px;
    background: #fff;
    padding: 45px 0 30px;
    margin: 0;
    visibility: hidden;
    opacity: 0;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
    transition: .3s opacity,.3s transform,.3s padding,.3s margin,.3s max-height,0s visibility .3s;
}

.navbar .navbar-nav>.nav-item.active>.sub-menu{
    opacity: 1;
    visibility: inherit;
    transition-delay: 0s;
    -webkit-transform: none;
    transform: none;
}

.navbar>.navbar-nav>.nav-item>.sub-menu>.sd-section{
    cursor: pointer;
}

.padding-navbar{
    padding: 38px;
}

@media (max-width: 767.98px) {
    .navbar .navbar-collapse.show{
        height: calc(100vh - 60px);
        overflow-y: auto;
    }

    .navbar .navbar-nav>.nav-item a.nav-link{
        margin: 5px 10px;
    }

    .navbar .navbar-nav>.nav-item a.nav-link>.indicator{
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
        transition: 0s opacity,0s transform,0s visibility;
    }

    .navbar .navbar-nav>.nav-item.active a.nav-link>.indicator{
        transition: .3s opacity .3s,.3s transform .3s,0s visibility .3s;
    }

    .navbar .navbar-nav>.nav-item>.sub-menu{
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        margin-top: 0;
        padding: 0;
        max-height: 0;
        overflow: hidden;
    }

    .navbar .navbar-nav>.nav-item.active>.sub-menu{
        max-height: 2e3px;
        overflow: visible;
        padding: 30px 0;
        margin-top: 23px;
    }
}