@charset "UTF-8";

.search-bar {
    background-color: #34495e;
    color: #fff;
}

.search-bar .svg-inline--fa {
    font-size: 1em;
    margin-right: 5px
}

.search-bar .big-type {
    display: inline-block;
    font-weight: bold;
    background-color: #2c3e50;
    padding: 10px 15px;
    border-radius: 50px;
    cursor: pointer;
    margin: 5px 10px;

    -webkit-transition: all .25s linear;
    -moz-transition: all .25s linear;
    transition: all .25s linear;
}

.search-bar .big-type:hover,
.search-bar .big-type.selected {
    background-color: #fff;
    color: #bc3838;
}

.all-height-remain {
    min-height: calc(100vh - 202px);
}

video.realisation-element,
img.realisation-element {
    width: 100%;
    margin: 15px 0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

    -webkit-box-shadow: 0 0 20px rgba(0, 0 , 0, .1);
    -moz-box-shadow: 0 0 20px rgba(0, 0 , 0, .1);
    box-shadow: 0 0 20px rgba(0, 0 , 0, .1);
}

.list-realisations {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    -webkit-transition: -webkit-transform 600ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
    -moz-transition: -moz-transform 600ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
    transition: transform 600ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
}

.list-realisations > .one-realisation {
    cursor: pointer;
    width: 25%;

    -webkit-transition: width .25s linear, opacity .25s linear .25s, filter .25s linear .5s;
    -moz-transition: width .25s linear, opacity .25s linear .25s, filter .25s linear .5s;
    transition: width .25s linear, opacity .25s linear .25s, filter .25s linear .5s;
}

.list-realisations > .one-realisation.hide {
    filter: grayscale(75%);
    opacity: 0;
    width: 0;

    -webkit-transition: filter .25s linear, opacity .25s linear .25s, width .25s linear .5s;
    -moz-transition: filter .25s linear, opacity .25s linear .25s, width .25s linear .5s;
    transition: filter .25s linear, opacity .25s linear .25s, width .25s linear .5s;
}

.list-realisations > .one-realisation > span {
    display: block;
    position: relative;
    overflow: hidden;
    color: white;
    text-decoration: none;

    overflow: hidden;
}
.list-realisations > .one-realisation > span:hover > .inner.white > .realisation-name,
.list-realisations > .one-realisation > span:hover > .inner.white > .realisation-intro,
.list-realisations > .one-realisation > span:hover > .inner.white > .realisation-type {
    color: white !important;
}

.list-realisations > .one-realisation > span:hover > .inner.black > .realisation-name,
.list-realisations > .one-realisation > span:hover > .inner.black > .realisation-intro,
.list-realisations > .one-realisation > span:hover > .inner.black > .realisation-type {
    color: black !important;
}

.list-realisations > .one-realisation > span:before {
    content: '';
    display: block;
    padding-bottom: 75%;
}

.list-realisations > .one-realisation > span > .inner {
    position: absolute;
    bottom: 40px;
    left: 0px;
    right: 0px;
    padding: 0 40px;
    z-index: 3;

    transform: matrix(1, 0, 0, 1, 0, 0);

    -webkit-transition: -webkit-transform 600ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
    -moz-transition: -moz-transform 600ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
    transition: transform 600ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
}

.list-realisations > .one-realisation:hover > span > .inner {
    transform: matrix(1, 0, 0, 1, 0, -60);
}

.list-realisations .one-realisation > span > .inner > .realisation-type {
    display: block;
    font-size: 100%;
    margin-bottom: 10px;

    -webkit-transition: color 400ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
    -moz-transition: color 400ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
    transition: color 400ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
}

.list-realisations .one-realisation > span > .inner > .realisation-name,
.list-realisations .one-realisation > span > .inner > .realisation-intro {
    font-weight: 700;
    line-height: 1;
    font-family: "Gilroy", sans-serif;
    margin: 0px;
    max-width: 80%;

    -webkit-transition: color 400ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
    -moz-transition: color 400ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
    transition: color 400ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
}

.list-realisations .one-realisation > span > .inner > .realisation-name {
    font-size: 200%;
}

.list-realisations .one-realisation > span > .inner > .realisation-intro {
    position: absolute;
    left: 40px;

    top: calc(100% + 10px);
    opacity: 0;

    -webkit-transform: translateY(30%);
    -moz-transform: translateY(30%);
    -ms-transform: translateY(30%);
    -o-transform: translateY(30%);
    transform: translateY(30%);

    -webkit-transition: color 400ms cubic-bezier(0.7, 0, 0.3, 1), -webkit-transform 400ms cubic-bezier(0.7, 0, 0.3, 1) 0ms, opacity 300ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
    -moz-transition: color 400ms cubic-bezier(0.7, 0, 0.3, 1), -moz-transform 400ms cubic-bezier(0.7, 0, 0.3, 1) 0ms, opacity 300ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
    transition: color 400ms cubic-bezier(0.7, 0, 0.3, 1), transform 400ms cubic-bezier(0.7, 0, 0.3, 1) 0ms, opacity 300ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
}

.list-realisations .one-realisation > span:hover > .inner > .realisation-intro {
    opacity: 0.8;

    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);

    -webkit-transition: -webkit-transform 500ms cubic-bezier(0.7, 0, 0.3, 1) 0ms, opacity 300ms cubic-bezier(0.7, 0, 0.3, 1) 100ms;
    -moz-transition: -moz-transform 500ms cubic-bezier(0.7, 0, 0.3, 1) 0ms, opacity 300ms cubic-bezier(0.7, 0, 0.3, 1) 100ms;
    transition: transform 500ms cubic-bezier(0.7, 0, 0.3, 1) 0ms, opacity 300ms cubic-bezier(0.7, 0, 0.3, 1) 100ms;
}

.list-realisations > .one-realisation > span > .realisation-color {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;

    -webkit-transform: translateY(135%) skewY(25deg);
    -moz-transform: translateY(135%) skewY(25deg);
    -ms-transform: translateY(135%) skewY(25deg);
    -o-transform: translateY(135%) skewY(25deg);
    transform: translateY(135%) skewY(25deg);

    -webkit-transition: -webkit-transform 400ms cubic-bezier(0.7, 0, 0.3, 1) 100ms;
    -moz-transition: -moz-transform 400ms cubic-bezier(0.7, 0, 0.3, 1) 100ms;
    transition: transform 400ms cubic-bezier(0.7, 0, 0.3, 1) 100ms;
}

.list-realisations > .one-realisation > span:hover > .realisation-color {
    transform: translateY(0%) skewY(0deg);
    -webkit-transform: translateY(0%) skewY(0deg);
    -moz-transform: translateY(0%) skewY(0deg);
    -ms-transform: translateY(0%) skewY(0deg);
    -o-transform: translateY(0%) skewY(0deg);
    transform: translateY(0%) skewY(0deg);

    -webkit-transition: -webkit-transform 500ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
    -moz-transition: -moz-transform 500ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
    transition: transform 500ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
}

.list-realisations > .one-realisation > span > .realisation-visuel {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    /*opacity: 0;*/

    -webkit-transition: -webkit-transform 400ms cubic-bezier(0.7, 0, 0.3, 1) 0ms, opacity 800ms cubic-bezier(0.7, 0, 0.3, 1);
    -moz-transition: -moz-transform 400ms cubic-bezier(0.7, 0, 0.3, 1) 0ms, opacity 800ms cubic-bezier(0.7, 0, 0.3, 1);
    transition: transform 400ms cubic-bezier(0.7, 0, 0.3, 1) 0ms, opacity 800ms cubic-bezier(0.7, 0, 0.3, 1);
}

.list-realisations > .one-realisation > span > .indicator {
    display: block;
    z-index: 3;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -44px;
    width: 79px;
    height: 15px;
    background: url('../imgs/menu-indicator.png') center center/79px 15px;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
    transition: .3s opacity,.3s transform,0s visibility .3s;
}

.list-realisations > .one-realisation.active > span > .indicator {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
    -webkit-transform: none;
    transform: none;
}

.list-realisations > .one-realisation-description {
    display: none;
    width: 100%;
    background: linear-gradient(#fff, #ecf0f1);
}

@media (max-width: 1199.98px) {
    .list-realisations > .one-realisation {
        width: 33.3333%;
    }
}

@media (max-width: 991.98px) {

}

@media (max-width: 767.98px) {
    .list-realisations > .one-realisation {
        width: 50%;
    }
}

@media (max-width: 575.98px) {
    .list-realisations > .one-realisation {
        width: 100%;
    }
}
