<div id="ariane">
    <nav class="ariane-bar">
			<span class="sd-ariane-title">
				<span class="sd-text"> {{ titles|first }} </span>
				<span class="sd-icon"></span>
			</span>
        <ul id="ariane-menu">
            {% for id, title in titles %}
                <li>
                    <a href="#{{ id }}">
                        {{ title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </nav>
</div>