<div id="ariane">
    <nav class="ariane-bar">
			<span class="sd-ariane-title">
				<span class="sd-text"> {{ 'title.languages.de.developpements'|trans }} </span>
				<span class="sd-icon"></span>
			</span>
        <ul id="ariane-menu">
            <li>
                <a href="#languages">
                    {{ 'title.languages.de.developpements'|trans }}
                </a>
            </li>
            <li>
                <a href="#environnements">
                    {{ 'title.environnements.systemes.expoitations'|trans }}
                </a>
            </li>
        </ul>
    </nav>
</div>